html {
overflow-y: scroll;
}
#header > .wrapper > .inner > :nth-child(1) {
width: 9%;
}
#header > .wrapper > .inner > :nth-child(2) {
width: 45.5%;
}
#header > .wrapper > .inner > :nth-child(3) {
width: 45.5%;
}

.divide{

}

.button {
position: relative;
text-decoration: none;
}

.button::before {
content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
inset: 0 0 0 0;
background: #FFB800;
z-index: 1;
transform: scaleX(0);
transform-origin: bottom right;
transition: transform .5s ease;
mix-blend-mode: screen;
}

.button:hover::before {
transform: scaleX(1);
transform-origin: bottom left;
}

.grow {
transform: scale(1);
transition: transform .5s ease, box-shadow .5s ease;
}

.grow:hover {
transform: scale(1.01);
transition: transform .5s ease, box-shadow .5s ease;
box-shadow: 0rem 1.75rem 3.375rem 0rem rgba(40, 39, 38, 0.278);
}

@keyframes rainbow {
0% {
background-position: 0% 50%;
}
100% {
background-position: 200% 50%;
}
}

strong {
background: linear-gradient(
to right,
rgba(255, 0, 0, 1) 0%,
rgba(255, 154, 0, 1) 10%,
rgba(208, 222, 33, 1) 20%,
rgba(79, 220, 74, 1) 30%,
rgba(63, 218, 216, 1) 40%,
rgba(47, 201, 226, 1) 50%,
rgba(28, 127, 238, 1) 60%,
rgba(95, 21, 242, 1) 70%,
rgba(186, 12, 248, 1) 80%,
rgba(251, 7, 217, 1) 90%,
rgba(255, 0, 0, 1) 100%
);
background-size: 200% auto;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent !important;
-moz-background-clip: text;
-moz-text-fill-color: transparent !important;
animation: rainbow 2s linear infinite;
}

@keyframes bounce {
0% {
transform: translateY(0);
animation-timing-function: ease-out;
}
5% {
transform: translateY(-5px);
animation-timing-function: ease-in;
}
10% {
transform: translateY(0);
animation-timing-function: ease-out;
}
15% {
transform: translateY(-3px);
animation-timing-function: ease-in;
}
20% {
transform: translateY(0);
animation-timing-function: ease-out;
}
25% {
transform: translateY(-1px);
animation-timing-function: ease-in;
}
30% {
transform: translateY(0);
animation-timing-function: ease-out;
}
100% {
transform: translateY(0);
}
}

.button.bounce .label,
.button.bounce svg {
animation: bounce 2s infinite;
}
